# Common
/.composer
composer.phar
node_modules
.DS_Store
# But keep empty folder containing gitkeep & htaccess
!.gitkeep
!.htaccess

dinnerinparis.css*
modules/js
modules/dist
.buildpath
.project
.settings
